.form {
    background-color: hsl(102, 23%, 62%);
    padding: 20px;
    overflow-x: auto;
}

.form__fieldset {
    border-radius: 15px;
    border-color: rgb(194, 162, 80);
    border-width: 5px;
}

.form__inputValue {
    background-color: rgb(222, 238, 221);
    border-radius: 10px;
}

.form__inputValue:hover {
    background-color: rgb(189, 211, 187);
}

.form__button {
    background-color: rgb(194, 162, 80);
    border-radius: 15px;
    padding: 5px;
}

.form__button:hover {
    background-color: rgb(214, 189, 127);
}

.form__labelText {
    display: inline-block;
}

.form__legend {
    padding: 5px;
    font-size: x-large;
    font-style: italic;
    border: groove;
    border-width: 3px;
    border-radius: 15px;
    border-color: rgb(194, 162, 80);
}

.form__rateSource {
    font-style: italic;
    font-size: x-small;
}

.form__select {
    background-color: rgb(222, 238, 221);
    border-radius: 10px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.form__select:hover {
    background-color: rgb(189, 211, 187);
}

.form__paragraph {
font-size: x-small;
}