html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    max-width: 1000px;
    font-family: 'Saira Stencil One', cursive;
    text-align: center;
    background-image: url("../images/GTA-SA-wallpaper.jpg");
    overflow: visible;
    background-position: right;
    background-size: 120%;
}

.footer {
    font-size: small;
    padding: 20px 20px 10px 20px;
    text-align: bottom;

}